/_book
/coverage
/custom
/dist
/docs/index.md
/gh-pages
/jsdoc
/node_modules
.DS_Store
temp_auto_push.bat
.idea
.project
.settings
bower.json
*.log
*.swp
*.stackdump

chart.js-*.tgz
.gitignore
branch_structure.json
